body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.vertical_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.horizontal_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

label {
  padding-right: 0.5em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
}
